"*":
  "advanced-open-file":
    createDirectories: true
    createFileInstantly: true
    fuzzyMatch: true
  "atom-ftp-editor":
    autoDownloadOnOpen: false
    autoUploadOnSave: false
    presistDownload: false
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "vim-mode"
      "atom-terminal-panel"
      "advanced-new-file"
      "linter-jshint"
      "jshint"
      "atom-ftp-editor"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      ".idea"
    ]
    packagesWithKeymapsDisabled: [
      "jsformat"
    ]
    telemetryConsent: "limited"
  editor:
    preferredLineLength: 120
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
  "exception-reporting":
    userId: "0ba3acab-3431-4990-b1d6-6e5cac49698e"
  "file-icons": {}
  jsformat:
    format_on_save: false
  jshint:
    onlyConfig: true
    supportLintingJsx: true
  "linter-ui-default": {}
  "platformio-ide-terminal":
    ansiColors:
      normal:
        blue: "#3358ce"
      zBright:
        brightBlue: "#4141ee"
    core:
      autoRunCommand: "source ~/.profile"
    iconColors:
      blue: "#4e4eea"
    style:
      theme: "linux"
  "tree-view":
    hideIgnoredNames: true
  "vim-mode-plus":
    notifiedCoffeeScriptNoLongerSupportedToExtendVMP: true
  "vim-mode-plus-ex-mode":
    notifiedUseExMode: true
  welcome:
    showOnStartup: false
