## vim mode customize
'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  'g s': 'core:save'
  'ctrl-q': 'core:close'
  'g /': 'find-and-replace:toggle'
  'ctrl-alt-e': 'editor:auto-indent'

  # surround
  ', s': 'vim-mode-plus:surround'
  ', d': 'vim-mode-plus:delete-surround-any-pair'
  ', D': 'vim-mode-plus:delete-surround'
  ', c': 'vim-mode-plus:change-surround'
  'S'  : 'vim-mode-plus:surround-smart-word'

  # macros
  'q': 'atom-keyboard-macros-vim:toggle_record_macro_vim'
  '@': 'atom-keyboard-macros-vim:execute_macro_vim'
  'Q': 'atom-keyboard-macros:call_last_kbd_macro'

  # choose pane
  '-': 'choose-pane:start'
  'm m': 'choose-pane:focus-last-focused'

  # For tree-view
  '.tree-view':
    '-': 'choose-pane:start'
    'm m': 'choose-pane:focus-last-focused'

  # Map '-', so that I can focus last-focused element by typing `-` twice.
  'atom-text-editor#choose-pane-editor':
    '-': 'choose-pane:last-focused'

## lazy-motion
'atom-text-editor.vim-mode-plus.normal-mode, atom-text-editor.vim-mode-plus.visual-mode':
  ', f': 'lazy-motion:forward'
  ', p': 'lazy-motion:forward-again'

'atom-text-editor.lazy-motion':
  ']': 'lazy-motion:forward'
  '[': 'lazy-motion:backward'

## for html tag autocompletion
'atom-text-editor.vim-mode-plus.insert-mode[data-grammar~="html"]':
  '>': 'autoclose-html:close-and-complete'

## terminal
'.platform-linux atom-workspace, .platform-win32 atom-workspace':
  'alt-ctrl-m': 'platformio-ide-terminal:fullscreen'
